{% extends 'base.html' %}

{% block content %}
  <h2 class="titulo-centrado">¿Estás seguro que quieres eliminar este recordatorio?</h2>
  <p class="titulo-centrado">>Mensaje: {{ recordatorio.mensaje }}</p>
  <form method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'ver_recordatorio' habito.id %}" class="btn btn-secondary d-flex justify-content-end">Cancelar</a>
    </div>
</form>
{% endblock %}
